<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets/images/1.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/2.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/3.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/4.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/5.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/6.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/7.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/8.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/9.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/10.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/11.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/12.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/13.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/imagesa/14.jpg"/>
  </ion-card>
  
  <ion-card>
    <img src="assets/images/15.jpg"/>
  </ion-card>
  
  </ion-content>