<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background-content">
  <ion-card>
    <ion-avatar>
      <img src="assets/images/1.jpg">
    </ion-avatar>  
  <div class="card-title">Jamelle Cleofe Cuna</div>
  <div class="card-title">A Traveller Girl</div>
</ion-card>

<ion-list>
  <ion-item>
    <ion-icon name="book" slot="start"></ion-icon>
    <ion-label><h4>Studied Bachelor of Science in Information Tachnology at Eastern Visayas State University - Carigara Campus</h4></ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="home" slot="start"></ion-icon>
    <ion-label>Lives in Region 8 - Eastern Visayas</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="location" slot="start"></ion-icon>
    <ion-label>From Brgy. Tuba Jaro, Leyte</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label>Single</ion-label>
  </ion-item>
</ion-list>

</ion-content>